@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    list-style: none;

    -webkit-transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.65s ease;
}

.nice-scroll *{
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

.lobster{
    font-family: 'Lobster', cursive;
}

*:hover, *:active, *:link, *:visited, *:focus {
    list-style: none;
    text-decoration: none!important;
}

a:hover, a:active, a:link, a:visited, a:focus {
    color: white;
    list-style: none;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}


a {
    -webkit-transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.65s ease;
}

tbody {
    overflow: auto;
}

body {
    margin: 0;
    background: #f0f0f0;
}

h1 {
    font-size: 5em;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.indie {
    font-family: 'Indie Flower', cursive;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.lato-light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.transition1 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.transition2 {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.transition3 {
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}



.learn-more {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

/* website specific styling */

.gradient-background {
    background: -moz-linear-gradient(45deg, rgba(100, 45, 173, 0.43) 0%, rgba(6, 70, 216, 0.43) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(100, 45, 173, 0.43)), color-stop(100%, rgba(6, 70, 216, 0.43))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(100, 45, 173, 0.43) 0%, rgba(6, 70, 216, 0.43) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(100, 45, 173, 0.43) 0%, rgba(6, 70, 216, 0.43) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(100, 45, 173, 0.43) 0%, rgba(6, 70, 216, 0.43) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(100, 45, 173, 0.43) 0%, rgba(6, 70, 216, 0.43) 100%);

}

section#banner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    z-index: 10;
    border:none;

}

.overlay {
    background-image: url("../data/img/background.jpg");
    position: absolute;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0.8;
}