section#projects {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 35);
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-container {
    padding: 2vh;
}

.tile {
    margin: 1vh;

}

.project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-block {
    display: flex;
}


.adjust-tile-1 {
    display: flex;
    flex-flow: column nowrap;
    width: 27vh;
    height: 54vh;
}

.collage-img {
    height: 4vh;
    margin: 20px;
}

.size-xxl {
    height: 18vh;
    width: auto;
}

.size-xl {
    height: 14vh;
    width: auto;
}

.size-l {
    height: 12vh;
    width: auto;

}

.size-m {
    height: 8vh;
    width: auto;

}

.size-s {
    height: 5vh;
    width: auto;

}

.lng-collage {
    max-width: 1000px;
    display: none;
}

.lng-list {
    font-size: 2vh;
    letter-spacing: 1px;
    color: #decfde;
    margin: 3vh 0;
}

.list-container {
    height: 100%;
    width: 300px;
    overflow: auto;
    text-align: left;
    padding: 1em;
    background-color: rgba(58, 58, 58, 0.46);
}

.contact-container {
    align-items: flex-start;
}

.contact {
    font-size: 1.5em;
    justify-content: center;
    margin-bottom: 2vh;
}

.contact img {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin-right: 2vh;
}

.contact-left {
    background-color: rgba(58, 58, 58, 0.46);
    width: 25vw;
    font-size: 5vw;
    padding: 0 3vh;
    display: none;

}

.social-list {
    font-family: 'Lobster', cursive;
    font-size: 2vh;
    align-self: flex-start;
    margin: 10vh 0 0;

}

.social-list li {
    margin: 1vh;
}

.social-list li img {
    height: 4.5vh;
}

@media screen and (min-width: 720px) {
    .lng-collage {
        display: flex;
    }

    .contact {
        font-size: 4vh;
    }

    .contact-left {
        display: flex;
    }

    .contact img {
        height: 4vh;
        width: 4vh;
        vertical-align: middle;
        margin-right: 2vh;
    }

    nav {
        font-size: 1.3em;
    }

    .headline {
        font-size: 4em;
    }
    

}

@media screen and (min-width: 1200px) {

    .headline {
        font-size: 7em;
    }

    nav {
        font-size: 1.6em;
    }
}

.homepage-button{
    margin: 10px;
}

.homepage-button > span{
    border: 2px #f5f3ff solid;
    padding: 5px 10px;
    font-size: 18px;
}